.space {
    border: solid #ff99cc;
    border-width: 5px;
    background-color: #99e6ff;
    background-image: url(background-for-game.png);
}

* {
    color: azure;
}

.canvas-2 {
    border-width: 5px;
    background-color: #99e6ff;
    position: absolute;
    opacity: 0;
}