* {
    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.space {
    border: solid #ff99cc;
    border-width: 5px;
    background-color: #99e6ff;
    background-image: url(background-for-game.png);
}

* {
    color: azure;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}